<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Stop processing for uploads folder so IIS Virtual Directory handles it -->
        <rule name="UploadsVirtualDir" stopProcessing="true">
          <match url="^uploads/.*" />
          <action type="None" />
        </rule>
        
        <rule name="ReverseProxyToNextJS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
             <add input="{URL}" pattern="^/uploads/" negate="true" />
          </conditions>
          <action type="Rewrite"
                  url="http://localhost:3000/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
